In [59]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter, FormatStrFormatter
%matplotlib inline

In [61]:
#Â df = pd.read_csv('Data/exp0_100SenNBVxHeaven3000.csv')
df = pd.read_csv('../Output/exp_0_400.csv')
df.head()

,Exp,ut1_1,ut1_2,ut2_1,ut2_2,NBAc,NBFP,NBFN,NBSenAc,NBSenFP,NBSenFN,RFAc,RFFP,RFFN,XGAc,XGFP,XGFN,VotAc,VotFP,VotFN
0,0,2,-4,-2,2,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
1,0,1,-2,-1,1,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.982063,0.023622,0.010417,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
2,0,5,-5,-3,5,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
3,0,10,-8,-3,10,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
4,10,2,-4,-2,2,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.982063,0.023622,0.010417,0.991031,0.008,0.010204,0.986547,0.015873,0.010309

In [62]:
df = df.sort_values(by=['Exp'])

In [63]:
df.shape

(400, 20)

In [64]:
df.head()

,Exp,ut1_1,ut1_2,ut2_1,ut2_2,NBAc,NBFP,NBFN,NBSenAc,NBSenFP,NBSenFN,RFAc,RFFP,RFFN,XGAc,XGFP,XGFN,VotAc,VotFP,VotFN
0,0,2,-4,-2,2,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
1,0,1,-2,-1,1,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.982063,0.023622,0.010417,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
2,0,5,-5,-3,5,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
3,0,10,-8,-3,10,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.986547,0.015873,0.010309,0.991031,0.008,0.010204,0.986547,0.015873,0.010309
46,1,5,-5,-3,5,0.941704,0.08209,0.022472,0.941704,0.08209,0.022472,0.991031,0.008000,0.010204,0.991031,0.008,0.010204,0.986547,0.015873,0.010309

In [65]:
# Means
dataTotal = {'ut1_1':df['ut1_1'],
                  'ut1_2':df['ut1_2'],
                  'ut2_1':df['ut2_1'],
                  'ut2_2':df['ut2_2'],
                  'DA':df['NBSenAc'],
                  'FPR':df['NBSenFP'],
                  'FNR': df['NBSenFN']
}
dfNBSen = pd.DataFrame(dataTotal, columns=['ut1_1','ut1_2','ut2_1','ut2_2','DA','FPR','FNR'])
dfNBSen.head()

    ut1_1  ut1_2  ut2_1  ut2_2        DA      FPR       FNR
0       2     -4     -2      2  0.941704  0.08209  0.022472
1       1     -2     -1      1  0.941704  0.08209  0.022472
2       5     -5     -3      5  0.941704  0.08209  0.022472
3      10     -8     -3     10  0.941704  0.08209  0.022472
46      5     -5     -3      5  0.941704  0.08209  0.022472

In [66]:
print(dfNBSen[(dfNBSen['ut1_1']==1)].max())
print(dfNBSen[(dfNBSen['ut1_1']==2)].max())
print(dfNBSen[(dfNBSen['ut1_1']==5)].max())
print(dfNBSen[(dfNBSen['ut1_1']==10)].max())

ut1_1    1.000000
ut1_2   -2.000000
ut2_1   -1.000000
ut2_2    1.000000
DA       0.941704
FPR      0.082090
FNR      0.022472
dtype: float64
ut1_1    2.000000
ut1_2   -4.000000
ut2_1   -2.000000
ut2_2    2.000000
DA       0.941704
FPR      0.082090
FNR      0.022472
dtype: float64
ut1_1    5.000000
ut1_2   -5.000000
ut2_1   -3.000000
ut2_2    5.000000
DA       0.941704
FPR      0.082090
FNR      0.022472
dtype: float64
ut1_1    10.000000
ut1_2    -8.000000
ut2_1    -3.000000
ut2_2    10.000000
DA        0.941704
FPR       0.082090
FNR       0.022472
dtype: float64

In [31]:
print(round(dfNBSen[(dfNBSen['ut1_1']==1)].mean(),2),'.2f')
print(round(dfNBSen[(dfNBSen['ut1_1']==2)].mean(),2),'.2f')
print(round(dfNBSen[(dfNBSen['ut1_1']==5)].mean(),2),'.2f')
print(round(dfNBSen[(dfNBSen['ut1_1']==10)].mean(),2),'.2f')

ut1_1    1.00
ut1_2   -2.00
ut2_1   -1.00
ut2_2    1.00
DA       0.49
FPR      0.11
FNR      0.02
dtype: float64 .2f
ut1_1    2.00
ut1_2   -4.00
ut2_1   -2.00
ut2_2    2.00
DA       0.49
FPR      0.11
FNR      0.02
dtype: float64 .2f
ut1_1    5.00
ut1_2   -5.00
ut2_1   -3.00
ut2_2    5.00
DA       0.49
FPR      0.10
FNR      0.02
dtype: float64 .2f
ut1_1    10.00
ut1_2    -8.00
ut2_1    -3.00
ut2_2    10.00
DA        0.49
FPR       0.11
FNR       0.02
dtype: float64 .2f